@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mouse-x: 0;
  --mouse-y: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
}

.web::before {
  background-image: url(/images/black-noise.webp);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  z-index: -2;
  opacity: 0.1;
}

.web-noise {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  opacity: 0.1;
}

a:hover {
  color: #a3fba5;
}

.button-container {
  padding: 4px 8px;
  height: 54px;
  width: 250px;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
}

.button-container::after {
  content: '';
  display: block;
  position: absolute;
  background: #090d01;
  inset: 2px;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0px 0px 20px -5px rgba(163, 251, 169, 0.1);
}

.button-container::before {
  display: block;
  position: absolute;
  content: 'This is button';
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  width: 140px;
  transition: color 250ms ease-in-out;
}

@keyframes boxpulse {
  0%,
  100% {
    box-shadow: 0px 0px 16px -4px rgba(163, 251, 169, 0.1);
  }
  50% {
    box-shadow: 0px 0px 16px -4px rgba(163, 251, 169, 0.3);
  }
}

.button-container:hover::after {
  animation: boxpulse 2s ease-in-out infinite;
}

.button-container:hover::before {
  color: #a3fba5;
}

@property --r {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.button {
  background: conic-gradient(from var(--r), #222 0%, #eee 10%, #222 20%);
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}

/* better version */

@property --r2 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

.button-alt {
  background: conic-gradient(
    from calc(var(--r2) - 80deg) at var(--x) 30px,
    #090d01 0%,
    #a3fba5 20%,
    #090d01 25%
  );
  animation: -0.64s rotating2 3s linear infinite, -0.64s x 3s linear infinite;
}
@keyframes x {
  /* w:h === 6:1 */
  /* with a 80px x-margin */
  0% {
    --x: 26px;
  }
  /* 6/(6+3.14) * 50% */
  32.82275711% {
    --x: 130px;
  }
  50% {
    --x: 130px;
  }
  /* 50% + 32.8% */
  82.82275711% {
    --x: 26px;
  }
  100% {
    --x: 26px;
  }
}

@keyframes rotating2 {
  0% {
    --r2: 0deg;
  }
  32.82275711% {
    --r2: 0deg;
  }
  50% {
    --r2: 180deg;
  }
  82.82275711% {
    --r2: 180deg;
  }
  100% {
    --r2: 360deg;
  }
}

.reflect-card:hover {
  -webkit-box-reflect: below 0
    radial-gradient(circle at 50% 200%, #000000 35%, #0000000f 60%, #00000000 65%);
  box-shadow: 0px 0px 4px 0 rgba(163, 251, 169, 1), 0px 0px 20px 0 rgb(219, 255, 221, 0.5),
    0px 0px 60px 0 rgb(219, 255, 221, 0.2), 0px 0px 120px 0px rgb(0, 0, 0, 1);
  cursor: pointer;
  z-index: 20;
}

.reflect-card:hover img {
  opacity: 0.4;
  filter: none;
}

.reflect-card:not(:hover) {
  opacity: 0.7;
}
